.btn-jupiter{
    background-color: #D9310B;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    filter: drop-shadow(0 0 30px #D9310B);
    font-family: 'Orbitron', sans-serif;
    margin-top: 380px;
    margin-right: 580px;
    padding: 10px;
    position: absolute;
    transition: all 1s;
    text-align: center;
    
}

.btn-jupiter:hover{
    font-size: 20px;
    transform: 1.5;
}

@media(max-width:426px){
    .btn-jupiter{
        display: flex;
        left: 65px;;
        margin-bottom: 300px;
        position: absolute;
        text-align: center;
        transition: all 1s;
        width: 140px;
        
    }

    .btn-jupiter:hover{
        font-size: 15px;
        padding-left: 15px;
        text-align: center;
        transform: 1.1;
        width: 170px;
    }
    
}

@media(max-width:769px){
    .btn-jupiter{
        margin-top: 160px;
        margin-left: 60px;
        width: 150px;
    }
}